<h1>Transaction#show</h1>
<h2>Member ID        : <%= @order_detail.member_id %></h2>
<h2>Item ID        : <%= @order_detail.item_id %></h2>
<h2>Price       : <%= @order_detail.price %></h2>
<h2>Quantity       : <%= @order_detail.quantity %></h2>